<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Lengow{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/css/bootstrap.min.css' %}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/orders">Test Lengow</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/orders/trun">Reset DB</a></li>
              <li><a href="/orders/lunch">Lunch save Orders</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<section class="container" style="margin-top: 60px;">
    {% block content %} {% endblock %}
</section>

<script src="{% static 'orders/js/jquery.min.js' %}"></script>
<script src="{% static 'orders/js/bootstrap.min.js' %}"></script>
</body>
</html>