{% extends 'global.html' %}
{% block title %}detail Order n° {{ orders.order_id }}{% endblock %}
{% block content %}
    <section>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h1>Order n° {{ orders.order_id }}</h1>
                </div>
            </div>
            <div class="panel-body text-center">
                <div class="market">{{ orders.marketplace }}</div>
                <div class="date">{{ orders.payment_date|date:'d/m/Y' }}</div>
                <div class="amount">{{ orders.order_amount }} {{ orders.order_currency }};</div>
                <div class="products">
                    {% for product in orders.products_set.all %}
                        <div class="product col-md-6">
                            <p>{{ product.quantity }} - {{ product.title }}
                                ({{ product.price_unit }} {{ orders.order_currency }} unit)</p>
                        </div>
                        <div class="col-md-6">
                            <img width="50%" src="{{ product.url_image }}" alt="IMG of {{ product.tittle }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}