<article id="seach" style="margin-bottom: 20px;">
    <form action="/orders/search" id="form_search">
        <div class="col-md-2">
            <select name="marketplace" id="marketplace" class="form-control">
                <option value="all">All Marketplace</option>
                {% for marketplace in all_marketplace %}
                    <option
                            {% if marketplace.name == request.GET.marketplace %} selected {% endif %}
                                value="{{ marketplace.name }}">{{ marketplace.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <input type="date" name="date" id="date" class="form-control" {% if request.GET.date %} value="{{ request.GET.date }}" {% endif %}>
        </div>
        <div class="col-md-2">
            <select name="devise" id="devise" class="form-control">
                <option value="">All devise</option>
                <option {% if request.GET.devise == 'EUR' %} selected {% endif %} value="EUR">EUR</option>
                <option {% if request.GET.devise == 'DOL' %} selected {% endif %} value="DOL">DOL</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="amount" name="amount" id="amount" class="form-control" placeholder="Amount exceeding"
                    {% if request.GET.amount %} value="{{ request.GET.amount }}" {% endif %}>
        </div>
        <input type="submit" value="Search" class="btn btn-primary">
    </form>
</article>
