{% extends 'global.html' %}
{% block title %}List orders{% endblock %}
{% block content %}
    <h1 class="text-center">Orders list</h1>
    <section id="all_orders">
        {% include 'orders/form.html' %}
        <div class="col-md-12">
            {% for order in all_orders %}
                <article class="one_order col-md-6">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h2><a style="color: #ffffff;" href="/orders/{{ order.id }}">Order
                                    n° {{ order.order_id }}</a></h2>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <div class="market">{{ order.marketplace }}</div>
                            <div class="date">{{ order.payment_date|date:'d/m/Y' }}</div>
                            <div class="amount">{{ order.order_amount }} {{ order.order_currency|lower|title }}</div>
                            <div class="products">
                                {% for product in order.products_set.all %}
                                    <div class="product">
                                        <p>{{ product.quantity }} - {{ product.title }}
                                            ({{ product.price_unit }} {{ order.order_currency }} unit)</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}